<div class="cols">
  <div class="col" ontouchstart="this.classList.toggle('hover');">
    <div class="content-post" style="background-image: url(<%= tweet.image %>);">
      <div class="front">
        <div class="inner">
          <a href="/users/<%= tweet.user.id %>" class="inner-userName">
          <%= tweet.user.nickname %>
          </a>
          <p class="inner-txt"><%= tweet.text %></p>
        </div>
      </div>
      <div class="back">
        <div class="inner">
          <% if user_signed_in? && current_user.id == tweet.user.id %>
            <div class="drop">
              <span class="drop-span drop-spanBtn"><%= image_tag 'icons8-した-50.png', class: "drop-btn drop-position" %>
                <ul class="drop-list drop-listPosition">
                  <li>
                    <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
                  </li>
                </ul>
              </span>
            </div>
          <% end %>
          <div class="inner-hoverBox">
            <div class="showBtn">
              <%= link_to '詳しく見る', tweet_path(tweet.id), method: :get %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
