<div class ="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3 class="container-title">
        編集する内容
      </h3>
      <%= form.text_field :name, placeholder: "名前を入力する"%>
      <%= form.text_field :image, placeholder: "写真のURLを添付する"%>
      <%= form.text_area :text, placeholder: "文章を入力する", rows: "10" %>
      <%= form.submit "編 集 完 了 す る ", class: "submit-btn" %>
    <% end %>
  </div>
</div>