<div class="contents row2">
    <div class="show-content-post" style="background-image: url(<%= @tweet.image %>);">
      <% if user_signed_in? && current_user.id == @tweet.user.id %>
        <div class="drop">
          <span class="drop-span"><%= image_tag 'arrow_top.png', class: "drop-btn" %>
            <ul class="drop-list">
              <li>
                <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
              </li>
            </ul>
          </span>
        </div>
      <% end %>
      <p><%= @tweet.text %></p>
      <span class="name">
        <a href="/users/<%= @tweet.user.id %>">
        <%= @tweet.user.nickname %>
        </a>
      </span>
    </div>

    <div class="comments">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments-area">
      <h3 class="comments-title">ーーーーー🟢コメント一覧🟢ーーーーー</h3>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= comment.user.nickname %>：</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
    </div>
    </div>
</div>