<div class="contents row2">
    <div class="show-content-post" style="background-image: url(<%= @tweet.image %>);">
      <% if user_signed_in? && current_user.id == @tweet.user.id %>
        <div class="drop">
          <span class="drop-span"><%= image_tag 'icons8-した-50.png', class: "drop-btn drop-btn-show" %>
            <ul class="drop-list">
              <li>
                <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
              </li>
            </ul>
          </span>
        </div>
      <% end %>
      <p class="tweet-txt-show"><%= @tweet.text %></p>
      <span class="name">
        <a href="/users/<%= @tweet.user.id %>">
        <%= @tweet.user.nickname %>
        </a>
      </span>
    </div>

    <div class="comments">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを入力する", rows: "2" %>
        <%= form.submit "コメントを送る" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments-area">
      <h3 class="comments-title"><span class="comments-title-bar">コメント一覧</span></h3>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <div class="comments-txtBox">
              <div class="comments-txtArea">
                <p class="comments-txt"><%= comment.user.nickname %></p>
                <p class="comments-txt"><%= comment.text %></p>
              </div>
              <p class="comment-day"><%= comment.created_at.strftime("%m月%d日") %></p>
            </div>
          <% end %>
        <% end %>
    </div>
    </div>
</div>