<!DOCTYPE html>
<html>
  <head>
    <title>FarmersMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-left">
        <p class="header-logo"><a href="/">Farmers-market</a></p>
        <% if user_signed_in? %>
          <div class="header-right">
            <div class="user-name">
            <span><%= current_user.nickname %>
              <ul class="user-info">
                <li class="info-list">
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            </div>
            <%= link_to "投稿する", new_tweet_path, class: "post" %>
          </div>
        <% else %>
          <div class="header-right">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
      <a href="/">
        Farmers-market
      </a>
      </p>
    </footer>
  </body>
</html>
